<div id="title">
	<h2>NEWS (<%= @profile.microposts.count %>)</h2>
</div>
<br>

<% if @profile.microposts.any? %>
   <div id="section"><ol class="microposts">
     <%= render @microposts %>
   </ol>
   <%= will_paginate @microposts %>
 <% end %></div>
