<div id="title">
  <h2>FOLLOWERS (<%= @profile.followers.count %>)<h2>
</div>
<div class="jumbotron">
    <div class="span8">
      <% if @profiles.any? %>
        <ul class="profiles">
          <%= render @profiles %>
        </ul>
        <%= will_paginate %>
      <% end %>
    </div>
</div>