<div id="title">
	<h2>NEWS (<%= @profile.microposts.count %>)</h2>
</div>
<br>
<div class="jumbotron">
	<div class="span8">
		<% if @profile.microposts.any? %>
	   <ol class="microposts">
	     <%= render @microposts %>
	   </ol>
	   <%= will_paginate @microposts %>
	 	<% end %>
	</div>
</div>