<h1>Listing profiles</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>User ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.description %></td>
        <td><%= profile.user_id %></td>
        <td><%= link_to 'Show', profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>

