<div class="jumbotron center">
	<h1>Coppis</h1>
	<p>Connecting brands and retailers.</p>
	<% if user_signed_in? %>
		# do something
	<% else %>

		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
	  	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>

	<% end %>
	
</div>