<div class="jumbotron center">
	<h1>Coppis</h1>
	<p>Connecting brands and retailers.</p>
	<p>
		<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
  	<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>